$font-family: "Inter", sans-serif;
$second-font: "Raleway", sans-serif;

$white: #ffffff;
$black: #000000;
$button-color: #69B811;
$bg-color: rgba(4, 8, 20, 0.80);

// $bg-color: #f9f9f9;

$font-color: #343434;
// $color: #e7e7e7;
// $color-hover: #e7e7e7;
// $bg-button-color:#e6a93f;
// $green: #1e5a32;
$error: #ff0000;

// $mini: 560px;
// $mobile-width-only: 561px;
// $tablet-width: 768px;
// $laptop-width: 1024px;
// $desktop-width: 1200px;

$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 560px;
