$font-family: "Inter", sans-serif;
$second-font: "Raleway", sans-serif;
$white: #ffffff;
$black: #000000;
$button-color: #69b811;
$bg-color: rgba(4, 8, 20, 0.8);

$font-color: #343434;

$error: #ff0000;

$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 560px;
