.burger {
  display: none;
  position: relative;
  width: 24px;
  height: 20px;
  color: $white;
  background-color: transparent;
  border: none;
  z-index: 120;

  @media (max-width: $laptop) {
    justify-self: end;
    display: block;
  }
}

.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: $white;
  transform: translateY(-50%) scale(1);
  transition: transform 0.3s ease-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $white;
  transition: transform 0.3s ease-out top 0.3s ease-out;

  @media (max-width: $laptop) {
    background-color: $white;
  }
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  transform: translateY(-50%) scale(0);

  @media (max-width: $laptop) {
    background-color: $black;
  }
}

.burger--active::before {
  top: 50%;
  transform: rotate(-45deg);

  @media (max-width: $laptop) {
    background-color: $black;
  }
}

.burger--active::after {
  top: 50%;
  transform: rotate(45deg);
  bottom: auto;

  @media (max-width: $laptop) {
    background-color: $black;
  }
}
