.notfound {
  font-family: $font-family;

  &__promo {
    height: 200px;
    color: $white;
    background-color: $bg-color;
    font-weight: 500;
    text-transform: uppercase;

  }

  &__promo h1 {
    padding-top: 100px;
    font-weight: 500;
    font-size: 80px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 18px;
    }
  }

  &__container {
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 30px;
  }
}
